regression_test/XML/XmlWorkflow/xsd/imported2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 targetNamespace="www.example.org/imported2">

<xsd:simpleType name="foobar">
	<xsd:restriction base="integer"/>
</xsd:simpleType>

<xsd:simpleType name="ding">
	<xsd:restriction base="integer"/>
</xsd:simpleType>

<xsd:element name="bar">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="something" type="string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

</xsd:schema> 
